﻿@model AsianFrog.Models.CreateFrogViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Frog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Frog.Name" class="control-label"></label>
                <input asp-for="Frog.Name" class="form-control" />
                <span asp-validation-for="Frog.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frog.Gender" class="control-label"></label>
                <select asp-for="Frog.Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">Select Gender</select>
                <span asp-validation-for="Frog.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frog.BirthDate" class="control-label"></label>
                <input asp-for="Frog.BirthDate" class="form-control" type="date" />
                <span asp-validation-for="Frog.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frog.Pond.Name" class="control-label"></label>
                <select asp-for="Frog.PondID" asp-items="@(new SelectList(Model.Ponds, "ID", "Name"))" class="form-control">
                    <option>Select Pond</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
