﻿@model AsianFrog.Models.FrogViewModel

@{
    ViewData["Title"] = "Mate";
}

<h2>Mate</h2>

<h4>Frog</h4>
<hr />
<div class="row">
    <form asp-action="Mate">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-4">
            <h2>Frog 1</h2>
            <div class="form-group">
                <label asp-for="Frog.ID" class="control-label"></label>
                <input asp-for="FrogID1" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Frog.Name" class="control-label"></label>
                <input asp-for="Frog.Name" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Frog.Gender" class="control-label"></label>
                <input asp-for="Frog.Gender" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Frog.BirthDate" class="control-label"></label>
                <input asp-for="Frog.BirthDate" class="form-control" type="datetime" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Frog.Pond.Name" class="control-label"></label>
                <input asp-for="Frog.Pond.Name" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <h2>Frog 2</h2>
            <div class="form-group">
                <label asp-for="Frog.Name" class="control-label"></label>
                <select asp-for="FrogID2" asp-items="@(new SelectList(Model.Frogs, "ID", "Name"))" class="form-control">
                    <option>Select Frogs To Mate</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Mate" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
